.input-with-icon {
    text-align: center;
}

.input-with-icon i {
    text-align: center;
    left: 8px; /* Ajustez la valeur selon vos besoins */
    top: 50%;
    transform: translateY(-50%);
}
.card wizard-card{
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Utilise la hauteur de la vue */
}
.input{
text-align: left;
}