<body>
	<div class="container">
              <div style="text-align:center;">
       <button class="btn btn-outline-danger" (click)="getscores()">aficher le score</button>
       <br> 
       <br>   
       
      
        <p> Totale des points  :</p><br>
        <div *ngFor='let i of datas'></div>
        <p>{{data }}  {{datas}}</p> 

      </div>
      
     
       <br> 
       <br>
       <div class="bottom-vector">
              <img src="assets/img/bq1.png" alt="">
            </div>
            <div class="quiz-progress-area">
              <div class="progress">
                <div class="progress-bar position-relative" style="width: 100%" >
                 
                </div>
              </div>
            </div>
       </div>

</body>


