<div class="col-md-20">
  <div class="card card-container">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <div class="image-container set-full-height"  style="background-image: url('assets/assetss/img/pngtree-educational-book-bifurcation-background-image_398155.jpg')">
        <!--   Creative Tim Branding   -->
        <a href="https://creative-tim.com">
           
        </a>
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
           <!--      Wizard container        -->
		 <div class="wizard-container">
		    <div class="card wizard-card" data-color="orange" id="wizardProfile">
          <form action="" method="">
          <div class="wizard-header text-center">
            <h3 class="wizard-title">Créez votre profil</h3>
<B><p class="category">Ces informations nous permettront d'en savoir plus sur vous.</p></B>
        </div>
       
        <div class="wizard-navigation">
          <div class="progress-with-circle">
               <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 100%;border-color:goldenrod"></div>
        </div>
                            
          <ul>
                          <li>
              <a href="#about" data-toggle="tab">
                <div class="icon-circle" style="border-color:goldenrod">
                  <img src="assets\assetss\img\3135715.png" width="65" alt="logo">
                </div>
                 <label>A propos : </label>
              </a>
            </li>
                        
                          <li>
              <a href="#address" data-toggle="tab">
                <div class="icon-circle" style="border-color:goldenrod">
                  <img src="assets\assetss\img\123.png" width="65" alt="logo">
                    
                </div>
                Capture de visage :
              </a>
            </li>
                        
          </ul>
        </div>
        
 <div class="tab-content">
  <div class="tab-pane" id="about">
         <div class="row">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="col-sm-7 col-sm-offset-2 ;input-with-icon">
      <label for="username">   <i class="fas fa-user"></i> Nom :</label>
    
        <input 
        
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
          style="border-color:goldenrod"
          placeholder="Nom  "
        /><br>
      </div>
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
     
      <div class="col-sm-7 col-sm-offset-2">
                <label for="email"> <i class="fas fa-envelope"></i> Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
          style="border-color:goldenrod"placeholder="Email  "
        /><br> 
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-2">
        <label for="password"> <i class="fas fa-lock"></i> Mot de passe :</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          style="border-color:goldenrod"
          placeholder="Mot de passe"
        />
        
              
           
           <br>   
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group" class="col-sm-7 col-sm-offset-2">
        <label for="country"> <span class="fas fa-map-marker-alt"></span> Adresse :</label>
        <input
          type="text"
          class="form-control"
          name="password"
          [(ngModel)]="form.country"
          style="border-color:goldenrod"
          placeholder="Adresse"
        />
        <br>
      </div>
        <div div class="form-group" class="col-sm-7 col-sm-offset-2">
          <label for="birth_date"><i class="fas fa-calendar"></i> Date de naissance :</label>
          <input
            type="text"
            class="form-control"
            name="birth_date"
            [(ngModel)]="form.birth_date"
            style="border-color:goldenrod"
            placeholder="YYYY-MM-DD"
            />
        
            <br><br>
            <div class="pull-left">
            <button class="btn btn-primary btn-block" style="border-color:goldenrod;background-color: chocolate;"  (click)="bothfonction()">Sign Up</button>
            </div>
        </div>
      
        
        
        
      
       
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
        
      </div>
      
    </form>
         </div>
  </div>
  
</div>

   
    
     <div class="col-sm-7 col-sm-offset-2"  *ngIf="isSuccessful">
       
      <div class="container">
        <h5>  <p class="green-text">   Your registration is successful! </p><br>
           Merci de patientez une minute ⏱⏱</h5>
    </div>
     </div>
   
  </form>
  </div>
</div>
</div>
      </div>
  </div>
</div>








