.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: lightgray;
  }
  
  .green-text {
    color: green;
  }
  .input {
    position: relative;
}

.input {
    position: absolute;
    left: 10px; /* Ajustez la valeur selon vos besoins */
    top: 50%;
    transform: translateY(-50%);
}
.container {
  display: left;
  justify-content: left;
  align-items: left;
 /* Pour centrer verticalement */
}

.cadre {
  border: 3px solid #333;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}